body {
    background-color: rgba(253, 255, 245);
}

.dogPics {
    width: 500px;
    height: 500px;
    border: 2px solid gray;
    border-radius: 100px;
}

table {
    padding-top: 70px;
    padding-left: 50px;
}

#menu {
    list-style-type: none;
    font-weight: bold;
}

#border {
    border-right: 1px solid gray;
}